<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/home.css">
    
</head>
<body>
        

    <header>
        <h2 class="logo">Sports Management System</h2>
        <nav class="navigation">
            <button class="btnLogin-popup">Login</button>
        </nav>
    </header>

    

    

    {% with messages = get_flashed_messages(with_categories=true) %}
 	    {%  if  messages %}
 	        {%  for  category ,message  in  messages %}
                {% if category == 'success'%}
                <div class="flash-message">
                    <div class="success">
                        <p>{{ message }}</p>
                    </div>
                </div> 
                
                {% else %}
                <div class="flash-message">
                    <div class="error">
                        <p>{{ message }}</p>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

    

    <div class="wrapper">
        <span class="icon-close"><ion-icon name="close"></ion-icon></span>
        <div class="form-box login">
            <h2>Login</h2>
            <form method="POST" action="{{ url_for('views.login') }}">
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
                    <input type="email" id="email" name="email" placeholder="Enter email">
                    <label style="color: whitesmoke;">Email</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password" required id="password" name="password" placeholder="Enter password">
                    <label style="color: whitesmoke;">Password</label>
                </div>
                <div class="remember-forget">
                    <label><input type="checkbox">Remember me</label>
                    <a href="#">Forgot Password</a>
                </div>
                <button type="submit" class="btn" >Login</button>
                <div class="login-register">
                    <p>Don't have an account? <a href="#" class="register-link">Register</a></p>
                </div>
            </form>
        </div>
        
        <div class="form-box register">
            <h2>Registration</h2>
            <form method="POST" action="{{ url_for('views.register') }}">
                <div class="input-box">
                    <span class="icon"><ion-icon name="person"></ion-icon></span>
                    <input type="text" required id="username" name="username" placeholder="Enter your name">
                    <label style="color: whitesmoke;">Username</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
                    <input type="email" id="email" name="email" placeholder="Enter email">
                    <label style="color: whitesmoke;">Email</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password" required id="password" name="password" placeholder="Enter password">
                    <label style="color: whitesmoke;">Password</label>
                </div>
                <button type="submit" class="btn">Register</button>
                <div class="login-register">
                    <p>Already have an account? <a href="#" class="login-link">Login</a></p>
                </div>
            </form>
        </div>
    </div>

    

    <script src="../static/home.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>

